@import '../libs/normilize.css';
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/ag-helvetica.woff2") format("woff2"), url("../fonts/ag-helvetica.woff") format("woff"), url("../fonts/ag-helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.woff2") format("woff2"), url("../fonts/Inter-Italic.woff") format("woff"), url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

.swiper-arrows {
  display: flex;
  gap: 10px;
}

.swiper-arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  background-color: white;
  border: solid 1px #0D2C54;
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  .swiper-arrow:hover {
    transition: 0.2s ease-in-out;
    background-color: #0D2C54;
    border: solid 1px #FFFFFF;
  }
  .swiper-arrow:hover svg {
    fill: white;
    transition: 0.2s ease-in-out;
  }
}

.tourist-destination__list {
  counter-reset: OurPluses;
  display: flex;
  gap: 20px;
}

.tourist-destination__item {
  position: relative;
  background-color: #F4F4F4;
  width: 505px;
  min-height: 310px;
  flex-shrink: 0;
}
@media (max-width: 540px) {
  .tourist-destination__item {
    width: 330px;
  }
}
@media (max-width: 355px) {
  .tourist-destination__item {
    width: 280px;
  }
}
.tourist-destination__item p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  line-height: 27px;
  padding: 94px 38px 20px 38px;
}

.tourist-destination__item::before {
  counter-increment: OurPluses;
  content: counter(OurPluses, decimal-leading-zero);
  font-family: "Inter", sans-serif;
  display: inline-block;
  font-size: 18px;
  background-color: white;
  width: 56px;
  height: 30px;
  border-radius: 20px;
  color: #FF8C00;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 38px;
  top: 40px;
}

.patterns-bottom__left {
  position: absolute;
  bottom: -50px;
  left: 0;
}
@media (max-width: 600px) {
  .patterns-bottom__left {
    display: none;
  }
}

.patterns-bottom__right {
  position: absolute;
  bottom: -70px;
  right: 0;
}
@media (max-width: 600px) {
  .patterns-bottom__right {
    display: none;
  }
}

header {
  background-color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
@media (max-width: 1180px) {
  header nav img {
    width: 160px;
  }
}
header ul {
  display: flex;
  gap: 47px;
}
@media (max-width: 1180px) {
  header ul {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    min-height: 330px;
    position: absolute;
    top: 125px;
    right: 0;
    transform: translateY(-200%);
    transition: 0.4s ease-in-out;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 60px 0 60px 0;
  }
  header ul.menu-active {
    transition: 0.4s ease-in-out;
    transform: translateY(0%);
  }
}
header ul a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  background: linear-gradient(#0D2C54 0 0) bottom/var(--t, 0) 2px no-repeat;
  transition: 0.5s;
  padding-bottom: 5px;
}
@media (hover: hover) {
  header ul a:hover {
    --t: 100%;
    transition: 0.2s ease-in-out;
  }
}
header ul .active-page {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  font-weight: 700;
}
header .menu-wrapper {
  display: none;
  width: 27px;
  height: 18px;
  cursor: pointer;
}
@media (max-width: 1180px) {
  header .menu-wrapper {
    display: block;
  }
}
header .hamburger-menu,
header .hamburger-menu:after,
header .hamburger-menu:before {
  width: 27px;
  height: 2px;
}
header .hamburger-menu {
  position: relative;
  transform: translateY(8px);
  background: #0D2C54;
  transition: all 0ms 300ms;
}
header .hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}
header .hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #0D2C54;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
header .hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: #0D2C54;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
header .hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
header .hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

footer {
  background-color: #FAFAFA;
}
footer .nav-item + .nav-item {
  padding-top: 24px;
}
@media (max-width: 850px) {
  footer {
    padding: 64px 0 64px 0;
  }
}
footer .footer__wrapper-desktop {
  display: flex;
  justify-content: space-between;
  padding: 148px 0 89px 0;
}
@media (max-width: 850px) {
  footer .footer__wrapper-desktop {
    display: none;
  }
}

.footer__logo-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}

.footer-information {
  display: flex;
  gap: 127px;
}

.nav__link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}

.footer__contacts-list {
  max-width: 270px;
}

.footer__contacts-item {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}

.footer__contacts-item + .footer__contacts-item {
  padding-top: 24px;
}
@media (max-width: 850px) {
  .footer__contacts-item + .footer__contacts-item {
    padding-top: 0;
  }
}

.link-phone {
  margin-left: 31px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  font-weight: 500;
}

.link-fax {
  margin-left: 17px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  font-weight: 500;
}

.link-email {
  margin-left: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  font-weight: 500;
}

address {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  padding-top: 24px;
}
@media (max-width: 850px) {
  address {
    padding-top: 48px;
    padding-bottom: 36px;
    max-width: 287px;
  }
}

.footer-mobile {
  display: none;
}
@media (max-width: 850px) {
  .footer-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .footer-mobile {
    align-items: flex-start;
  }
}
.footer-mobile h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  font-size: 30px;
}
.footer-mobile img {
  display: block;
  margin-bottom: 36px;
}
.footer-mobile iframe {
  width: 330px;
  height: 250px;
  padding: 48px 0 48px 0;
}
@media (max-width: 355px) {
  .footer-mobile iframe {
    width: 280px;
    height: 200px;
  }
}
.footer-mobile .nav-list {
  display: flex;
  justify-content: space-between;
}
.footer-mobile .footer-nav-right {
  padding-left: 60px;
}

.finance {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.finance .finance__wrapper {
  padding-top: 255px;
  padding-bottom: 148px;
}
.finance .finance__content {
  background-color: #FFFFFF;
  display: block;
  max-width: 800px;
  padding: 85px;
}
.finance .finance__content h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 48px;
}
.finance .finance__content span {
  display: block;
  max-width: 630px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}

@media (max-width: 1280px) {
  .finance {
    height: auto;
  }
  .finance .container {
    margin: 0 auto;
    padding: 0 15px;
  }
  .finance .finance__wrapper {
    padding-top: calc(64px + 191 * (100vw - 360px) / 920);
    padding-bottom: calc(64px + 84 * (100vw - 360px) / 920);
  }
  .finance .finance__content {
    padding: calc(35px + 50 * (100vw - 360px) / 920);
  }
  .finance .finance__content h1 {
    font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
  }
}
@media (max-width: 320px) {
  .finance .container {
    padding: 0px calc(5px + 10 * (100vw - 320px) / 40);
  }
  .finance .finance__content {
    width: calc(310px + 20 * (100vw - 320px) / 40);
  }
}
.our-team {
  position: relative;
  overflow: hidden;
}
.our-team .our-team__content {
  padding-top: 148px;
}
.our-team .patterns__top-left {
  position: absolute;
  top: -65px;
  left: 0;
}
.our-team .patterns__top-right {
  position: absolute;
  top: -65px;
  right: 0;
}
.our-team .our-team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 1105px) {
  .our-team .our-team__list {
    justify-content: center;
  }
}
.our-team h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  padding-bottom: 96px;
}
.our-team .person-photo {
  width: 295px;
  height: 274px;
}
.our-team h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  font-size: 20px;
  font-weight: 700;
  padding-top: 24px;
}
.our-team span {
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  max-width: 210px;
  padding-top: 24px;
}
.our-team .our-team__item {
  position: relative;
  cursor: pointer;
}
.our-team .eclipse-circle {
  position: absolute;
  bottom: 145px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FF8C00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.our-team .eclipse-circle div {
  color: white;
}

@media (max-width: 1280px) {
  .our-team .our-team__content {
    padding-top: calc(64px + 84 * (100vw - 360px) / 920);
  }
  .our-team h2 {
    font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
    padding-bottom: calc(48px + 48 * (100vw - 360px) / 920);
  }
  .our-team .our-team__list {
    gap: 48px;
  }
  .our-team .person-photo {
    width: 330px;
    height: 306px;
  }
  .our-team .eclipse-circle {
    bottom: auto;
    top: 265px;
  }
  .our-team span {
    padding-top: calc(20px + 4 * (100vw - 360px) / 920);
  }
}
@media (max-width: 999px) {
  .our-team .container {
    padding: 0px 15px;
  }
  .patterns__top-left {
    display: none;
  }
  .patterns__top-right {
    display: none;
  }
}
@media (max-width: 360px) {
  .our-team .container {
    padding: calc(5px + 10 * (100vw - 320px) / 40);
  }
  .our-team .person-photo {
    width: calc(310px + 20 * (100vw - 320px) / 40);
  }
}
.reviews {
  margin-top: 148px;
  overflow: hidden;
  position: relative;
}
.reviews .container {
  max-width: none;
  padding: 0px;
}
.reviews h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
}
.reviews .patterns__bottom-left {
  position: absolute;
  bottom: -73px;
  left: 0;
}
.reviews .patterns__bottom-right {
  position: absolute;
  bottom: -73px;
  right: 0;
}

.reviews__content {
  margin: 0px 0px 96px 340px;
}

.scroll-slide {
  display: none;
}

.reviews__slider {
  overflow: visible;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 148px;
}
.reviews__slider .swiper-button-prev {
  display: flex;
  width: 70px;
  height: 70px;
  position: absolute;
  top: calc(50% - 35px);
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  border: 1px solid #0D2C54;
  left: 540px;
}
.reviews__slider .swiper-button-prev::after {
  display: none;
}
.reviews__slider .swiper-button-next {
  display: flex;
  width: 70px;
  height: 70px;
  position: absolute;
  top: calc(50% - 35px);
  justify-content: center;
  align-items: center;
  border: 1px solid #0D2C54;
  right: 540px;
}
.reviews__slider svg {
  fill: #0D2C54;
}
.reviews__slider .swiper-button-next::after {
  display: none;
}
.reviews__slider .swiper-button-prev:active,
.reviews__slider .swiper-button-next:active {
  background-color: #0D2C54;
}
.reviews__slider .swiper-button-prev:active svg,
.reviews__slider .swiper-button-next:active svg {
  fill: #FFFFFF;
}

.reviews__slider__slide {
  opacity: 0.3;
  width: 600px;
  box-sizing: border-box;
  padding: 50px 39px 50px 50px;
  box-shadow: 0px 0px 50px rgba(221, 221, 221, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
}

.reviews__slide__title {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 16px;
}
.reviews__slide__title img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.reviews__slide__title h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.reviews__slide__content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.reviews__slider__slide.swiper-slide-active {
  opacity: 1;
}

@media (hover: hover) {
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    transition: 0.2s ease-in-out;
    background-color: #0D2C54;
    border: solid 1px #FFFFFF;
  }
  .swiper-button-prev:hover svg,
  .swiper-button-next:hover svg {
    fill: white;
    transition: 0.2s ease-in-out;
  }
}
@media (max-width: 1900px) {
  .reviews__slider .swiper-button-prev {
    left: calc(220px + 320 * (100vw - 1280px) / 640);
  }
  .reviews__slider .swiper-button-next {
    right: calc(220px + 320 * (100vw - 1280px) / 640);
  }
  .reviews__content {
    margin-right: 20px;
    margin-left: calc(20px + 320 * (100vw - 1280px) / 640);
  }
}
@media (max-width: 1280px) {
  .reviews {
    margin-top: calc(64px + 84 * (100vw - 320px) / 960);
  }
  .reviews h2 {
    font-size: calc(30px + 23.8 * (100vw - 320px) / 1280);
  }
  .reviews__content {
    margin-right: calc(10px + 10 * (100vw - 320px) / 960);
    margin-left: calc(10px + 10 * (100vw - 320px) / 960);
  }
  .reviews__slider {
    margin-bottom: calc(64px + 84 * (100vw - 320px) / 960);
  }
  .reviews__slider .swiper-button-prev {
    left: calc(180px + 40 * (100vw - 1000px) / 280);
  }
  .reviews__slider .swiper-button-next {
    right: calc(180px + 40 * (100vw - 1000px) / 280);
  }
  .reviews__slider__slide {
    width: calc(400px + 200 * (100vw - 1000px) / 280);
    padding-top: calc(35px + 15 * (100vw - 1000px) / 280);
    padding-right: calc(35px + 4 * (100vw - 320px) / 960);
    padding-bottom: calc(35px + 15 * (100vw - 1000px) / 280);
    padding-left: calc(35px + 15 * (100vw - 1000px) / 280);
  }
}
@media (max-width: 999px) {
  .reviews {
    position: relative;
  }
  .patterns__bottom-left {
    display: none;
  }
  .patterns__bottom-right {
    display: none;
  }
  .reviews__content {
    margin-bottom: calc(48px + 48 * (100vw - 320px) / 679);
  }
  .scroll-slide {
    display: block;
    position: absolute;
    top: calc(98px + 7 * (100vw - 320px) / 679);
    right: calc(10px + 290 * (100vw - 320px) / 679);
    width: 40px;
    height: 24px;
  }
  .reviews__slider .swiper-button-prev {
    top: auto;
    bottom: 0px;
    left: calc(10px + 290 * (100vw - 320px) / 679);
  }
  .reviews__slider .swiper-button-next {
    bottom: 0px;
    top: auto;
    right: calc(10px + 290 * (100vw - 320px) / 679);
  }
  .reviews__slider .reviews__slider__wrapper {
    margin-bottom: calc(90px + 10 * (100vw - 320px) / 679);
  }
  .reviews__slider__slide {
    width: calc(310px + 90 * (100vw - 320px) / 679);
    padding: 35px;
  }
}
.our__business {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.our__business .our__business__wrapper {
  padding-top: 229px;
  padding-bottom: 148px;
}
@media (max-width: 1280px) {
  .our__business .our__business__wrapper {
    padding-top: calc(64px + 165 * (100vw - 360px) / 920);
    padding-bottom: calc(64px + 84 * (100vw - 360px) / 920);
  }
}
.our__business .our__business__content {
  background-color: #FFFFFF;
  display: block;
  max-width: 820px;
  padding: 85px;
}
@media (max-width: 1280px) {
  .our__business .our__business__content {
    padding: calc(35px + 50 * (100vw - 360px) / 920);
  }
}
.our__business h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 48px;
}
@media (max-width: 1280px) {
  .our__business h1 {
    font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
  }
}
.our__business span {
  display: block;
  max-width: 656px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}

.why-we {
  position: relative;
  overflow: hidden;
  padding-top: calc(64px + 84 * (100vw - 360px) / 920);
  padding-bottom: calc(64px + 53 * (100vw - 360px) / 920);
}
@media (max-width: 450px) {
  .why-we {
    padding-bottom: 0;
  }
}
.why-we article {
  padding-bottom: 45px;
}
@media (max-width: 1280px) {
  .why-we img {
    width: calc(310px + 280 * (100vw - 320px) / 920);
  }
}
@media (max-width: 250px) {
  .why-we img {
    width: 260px;
  }
}
.why-we h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  max-width: 630px;
  padding-bottom: 96px;
}
@media (max-width: 1280px) {
  .why-we h2 {
    font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
    padding-bottom: calc(35px + 50 * (100vw - 360px) / 920);
  }
}
.why-we .interview-container {
  display: flex;
  justify-content: space-between;
}
.why-we .interview-container:nth-child(even) {
  padding-top: 68px;
}
@media (max-width: 1205px) {
  .why-we .interview-container:nth-child(even) {
    padding-top: 33px;
  }
}
@media (max-width: 1205px) {
  .why-we .interview-container {
    flex-direction: column;
    align-items: center;
  }
}
.why-we .interview-item {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  max-width: 595px;
  padding-bottom: 15px;
}
.why-we .interview-item h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 8px;
}
.why-we .interview-item blockquote {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  line-height: 27px;
  font-style: italic;
}
.why-we .img-right {
  order: 2;
}
@media (max-width: 400px) {
  .why-we .img-right {
    display: none;
  }
}
@media (max-width: 1205px) {
  .why-we .img-left {
    order: 2;
  }
}
@media (max-width: 400px) {
  .why-we .img-left {
    order: -1;
    padding-bottom: 33px;
  }
}
.why-we .interview-item:last-child {
  padding-bottom: 0;
}
@media (max-width: 1205px) {
  .why-we .interview-item:last-child {
    padding-bottom: 33px;
  }
}
@media (max-width: 400px) {
  .why-we .interview-item:last-child {
    padding-bottom: 0px;
  }
}
.why-we .interview-list + .interview-list {
  padding-top: 64px;
}
.why-we .patterns__top-left {
  position: absolute;
  top: -65px;
  left: 0;
}
.why-we .patterns__top-right {
  position: absolute;
  top: -65px;
  right: 0;
}

.tourist-destination {
  position: relative;
  padding-bottom: calc(64px + 53 * (100vw - 360px) / 920);
  overflow: hidden;
}
.tourist-destination .title {
  display: flex;
  align-items: center;
  padding-bottom: 96px;
  position: relative;
}
@media (max-width: 1280px) {
  .tourist-destination .title {
    padding-bottom: calc(35px + 50 * (100vw - 360px) / 920);
  }
}
.tourist-destination .title img {
  position: absolute;
  bottom: 20px;
  right: 0;
}
@media (max-width: 550px) {
  .tourist-destination .swiper-arrows {
    display: none;
  }
}
.tourist-destination .swiper-arrows__mobile-version {
  display: none;
}
@media (max-width: 550px) {
  .tourist-destination .swiper-arrows__mobile-version {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}
.tourist-destination h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .tourist-destination h2 {
    font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
  }
}
.tourist-destination .patterns-bottom__left {
  position: absolute;
  bottom: -50px;
  left: 0;
}
.tourist-destination .patterns-bottom__right {
  position: absolute;
  bottom: -70px;
  right: 0;
}

.safety {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: auto;
  width: auto;
}
.safety .safety__wrapper {
  padding-top: calc(64px + 96 * (100vw - 360px) / 920);
  padding-bottom: calc(64px + 276 * (100vw - 360px) / 920);
}
.safety .safety__content {
  background-color: #FFFFFF;
  display: block;
  max-width: 800px;
  padding: 85px;
}
@media (max-width: 1280px) {
  .safety .safety__content {
    padding: calc(35px + 50 * (100vw - 360px) / 920);
  }
}
.safety .safety__content h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  padding-bottom: 48px;
}
@media (max-width: 1280px) {
  .safety .safety__content h2 {
    font-size: calc(27px + 23.8 * (100vw - 360px) / 1280);
  }
}
@media (max-width: 550px) {
  .safety .safety__content h2 {
    padding-bottom: 32px;
  }
}
.safety .safety__content span {
  display: block;
  max-width: 630px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}

.offer {
  background-color: #0D2C54;
  padding-top: calc(64px + 84 * (100vw - 360px) / 920);
  padding-bottom: calc(64px + 102 * (100vw - 360px) / 920);
}
.offer .offer-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1040px) {
  .offer .offer-content {
    flex-direction: column;
    align-items: center;
  }
}
.offer h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1280px) {
  .offer h2 {
    font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
  }
}
.offer p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  color: #FFFFFF;
  max-width: 509px;
}
.offer .offer-text {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 1040px) {
  .offer .offer-text {
    padding-bottom: 48px;
  }
}
.offer form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.offer input {
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: transparent;
  width: calc(310px + 300 * (100vw - 320px) / 960);
  padding: 23px 31px;
  border: 1px solid #FFFFFF;
  outline: none;
}
.offer input::placeholder {
  color: #BABABA;
  font-size: 16px;
  letter-spacing: 1px;
}
.offer input[type=submit] {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  background-color: #FFFFFF;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
@media (hover: hover) {
  .offer input[type=submit]:hover {
    transition: 0.2s ease-in-out;
    color: #FFFFFF;
    background-color: #0D2C54;
  }
}

.our-offers {
  position: relative;
  padding-top: calc(64px + 84 * (100vw - 360px) / 920);
  padding-bottom: calc(64px + 84 * (100vw - 360px) / 920);
}
.our-offers .title {
  padding-bottom: calc(48px + 48 * (100vw - 360px) / 920);
}
.our-offers h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  padding-bottom: 48px;
}
@media (max-width: 1280px) {
  .our-offers h1 {
    font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
  }
}
@media (max-width: 400px) {
  .our-offers h1 {
    padding-bottom: 36px;
  }
}
.our-offers p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  max-width: 550px;
}
.our-offers .offers-container__cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.our-offers article {
  max-width: 610px;
  border: 1px solid #0D2C54;
  padding: calc(36px + 49 * (100vw - 360px) / 920);
}
.our-offers article h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 48px;
}
.our-offers article p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  max-width: 440px;
}
.our-offers article:nth-child(even) {
  border: none;
  background-color: #F4F4F4;
}

.advantages {
  position: relative;
  overflow: hidden;
  padding-bottom: calc(64px + 84 * (100vw - 360px) / 920);
}
.advantages h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  max-width: 1155px;
  padding-bottom: calc(44px + 52 * (100vw - 360px) / 920);
  font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
}
.advantages .advantages-list {
  padding-bottom: 48px;
}
@media (max-width: 550px) {
  .advantages .advantages-list {
    padding-bottom: 20px;
  }
}
.advantages .patterns-bottom__left {
  position: absolute;
  bottom: -50px;
  left: 0;
}
.advantages .patterns-bottom__right {
  position: absolute;
  bottom: -70px;
  right: 0;
}
.advantages .swiper-arrows {
  justify-content: center;
  gap: 20px;
}
@media (max-width: 550px) {
  .advantages .swiper-arrows {
    justify-content: space-between;
  }
}
.advantages .gif-scroll {
  position: absolute;
  right: 195px;
  top: 195px;
}
@media (max-width: 600px) {
  .advantages .gif-scroll {
    right: 30px;
    top: 270px;
  }
}

.investments {
  background-size: cover;
  background-repeat: no-repeat;
}
.investments h2 {
  display: none;
}
.investments .investments__wrapper {
  display: flex;
  justify-content: center;
  padding-top: calc(64px + 84 * (100vw - 360px) / 920);
  padding-bottom: calc(64px + 84 * (100vw - 360px) / 920);
}
.investments .investments__content {
  background-color: #FFFFFF;
  display: block;
  max-width: 1030px;
  padding: calc(35px + 50 * (100vw - 360px) / 920);
}
.investments .investments__content p {
  display: block;
  max-width: 840px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}
.investments .investments__content p + p {
  padding-top: calc(35px + 13 * (100vw - 360px) / 920);
}

.income {
  position: relative;
  overflow: hidden;
  padding-top: calc(64px + 53 * (100vw - 360px) / 920);
  padding-bottom: calc(64px + 53 * (100vw - 360px) / 920);
}
.income h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  max-width: 1000px;
  padding-bottom: calc(44px + 36 * (100vw - 360px) / 920);
  font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
}
.income p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}
.income .title {
  padding-bottom: calc(44px + 36 * (100vw - 360px) / 920);
}
.income .table-title_mobile {
  display: none;
}
@media (max-width: 900px) {
  .income .table-title_mobile {
    display: block;
  }
}
.income .table-title {
  display: block;
}
@media (max-width: 900px) {
  .income .table-title {
    display: none;
  }
}
.income img {
  cursor: pointer;
  width: calc(280px + 20 * (100vw - 320px) / 40);
  display: block;
  margin: 0 auto;
}
.income .patterns-bottom__left {
  position: absolute;
  max-width: 180px;
  bottom: -50px;
  left: 0;
}
@media (max-width: 600px) {
  .income .patterns-bottom__left {
    display: none;
  }
}
.income .patterns-bottom__right {
  position: absolute;
  bottom: -70px;
  max-width: 180px;
  right: 0;
}
@media (max-width: 600px) {
  .income .patterns-bottom__right {
    display: none;
  }
}

.contacts {
  padding-top: calc(64px + 88 * (100vw - 360px) / 920);
  padding-bottom: calc(64px + 84 * (100vw - 360px) / 920);
}
.contacts .contacts-container {
  display: flex;
  justify-content: center;
}
.contacts .contacts-mobile {
  display: none;
}
@media (max-width: 1160px) {
  .contacts .contacts-mobile {
    display: block;
  }
}
.contacts .contacts-mobile h2 {
  padding-bottom: 0;
}
.contacts .contacts-mobile span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}
.contacts .contacts-mobile .contacts-list-mobile {
  padding-bottom: 48px;
}
.contacts .contacts-mobile iframe {
  width: 330px;
  height: 250px;
  padding-bottom: 64px;
}
@media (max-width: 390px) {
  .contacts .contacts-mobile iframe {
    width: 300px;
    height: 220px;
  }
}
.contacts .contacts-mobile address {
  padding-bottom: 36px;
}
.contacts .contacts-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1160px) {
  .contacts .contacts-container-computer {
    display: none;
  }
}
.contacts h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  padding-bottom: 48px;
}
.contacts h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 150%;
  color: #0D2C54;
  text-transform: uppercase;
  padding-bottom: 48px;
  font-size: calc(30px + 23.8 * (100vw - 360px) / 1280);
  padding-bottom: calc(36px + 12 * (100vw - 360px) / 920);
}
.contacts p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  padding-bottom: 48px;
}
.contacts .contacts__list {
  max-width: 505px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px 42px;
  padding-bottom: 48px;
}
.contacts .contacts__list .contacts-item {
  max-width: 273px;
}
.contacts .contacts__list h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.contacts .contacts__list a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
}
.contacts .contacts__list address {
  font-style: normal;
}
.contacts form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts input {
  font-family: "Inter", sans-serif;
  color: #0D2C54;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: transparent;
  width: calc(300px + 300 * (100vw - 320px) / 960);
  padding: 23px 31px;
  border: 1px solid #0D2C54;
  outline: none;
}
.contacts input::placeholder {
  color: #BABABA;
  font-size: 16px;
  letter-spacing: 1px;
}
.contacts input[type=submit] {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0D2C54;
  color: #FFFFFF;
  background-color: #0D2C54;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
@media (hover: hover) {
  .contacts input[type=submit]:hover {
    transition: 0.2s ease-in-out;
    color: #0D2C54;
    background-color: #FFFFFF;
  }
}

/*# sourceMappingURL=main.css.map */
