header {
    background-color: white;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        img{
            @media(max-width: 1180px){
                width: 160px;
            }
        }
    }

    ul {
        display: flex;
        gap: 47px;
        @media(max-width: 1180px){
            background: rgba(255, 255, 255);
            width: 100%;
            min-height: 330px;
            position: absolute;
            top: 125px;
            right: 0;
            transform: translateY(-200%);
            transition: .4s ease-in-out;
            z-index: 10;
            flex-direction: column;
            align-items: center;
            gap: 36px;
            padding: 60px 0 60px 0;
            &.menu-active{
                transition: .4s ease-in-out;
                transform: translateY(0%);
            }
        }
        a {
            @include standart-style;
            background: linear-gradient($text-color 0 0) bottom/var(--t, 0) 2px no-repeat;
            transition: 0.5s;
            padding-bottom: 5px;
            @media (hover: hover) {
                &:hover{
                 --t: 100%;
                    transition: .2s ease-in-out;
                }
            }
        }
        .active-page{
            @include standart-style;
            font-weight: 700;
        }
    }
    .menu-wrapper {
        display: none;
        width: $bar-width;
        height: $bar-height + $bar-spacing*2;
        cursor: pointer;
        @media(max-width:1180px){
            display: block;
        }
    }
    
    .hamburger-menu,
    .hamburger-menu:after,
    .hamburger-menu:before {
      width: $bar-width;
        height: $bar-height;
    }
    
    .hamburger-menu {
        position: relative;
        transform: translateY($bar-spacing);
        background: #0D2C54;
        transition: all 0ms 300ms;
        &.animate {
            background: rgba(255, 255, 255, 0); 
          }
    }
    
    .hamburger-menu:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: $bar-spacing;
        background: #0D2C54;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .hamburger-menu:after {
        content: "";
        position: absolute;
        left: 0;
        top: $bar-spacing;
        background: #0D2C54;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .hamburger-menu.animate:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
    
    .hamburger-menu.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
}