.our-team {
    position: relative;
    overflow: hidden;
    .cards-container{
        position: relative;
        .eclipse-circle {
            position: absolute;
            bottom: 12px;
            right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #FF8C00;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            div {
                color: white;
            }
        }
    }
    .our-team__content {
        padding-top: 148px;
    }

    .patterns__top-left {
        position: absolute;
        top: -65px;
        left: 0;
    }

    .patterns__top-right {
        position: absolute;
        top: -65px;
        right: 0;
    }


    .our-team__list {
        display: flex;
        flex-wrap: wrap ;
        gap: 20px;
        @media(max-width: 1105px) {
            justify-content: center;
        }
    }

    h2 {
        @include standart-title;
        padding-bottom: 96px;
    }

    .person-photo {
        width: 295px;
    }

    h3 {
        @include standart-style;
        font-size: 20px;
        font-weight: 700;
        padding-top: 24px;
    }

    p {
        display: block;
        @include standart-style;
        max-width: 210px;
        padding-top: 24px;
        @media(max-width: 668px){
            max-width: fit-content;
        }
    }

    .our-team__item {
        position: relative;
        cursor: pointer;
    }

}
@media(max-width: 1280px){
    .our-team{
        .our-team__content {
            padding-top: calc(64px + (148 - 64) * ((100vw - 360px) / (1280 - 360)));
        }
        h2 {
            font-size: calc(30px + (14 + 14 * 0.7) * (100vw - 360px) / 1280);
            padding-bottom: calc(48px + (96 - 48) * ((100vw - 360px) / (1280 - 360)));
        }
        .our-team__list{
            gap: 48px;
        }
        p {
            padding-top: calc(20px + (24 - 20) * ((100vw - 360px) / (1280 - 360)));
        }
    }
}

@media(max-width: 999px){
    .our-team{
        .container{
            padding: 0px 15px;
        }
    }
}

@media(max-width: 360px){
.our-team{
    .container{
        padding: calc(5px + (15 - 5) * ((100vw - 320px) / (360 - 320)));
    }
    .person-photo{
        width: calc(310px + (330 - 310) * ((100vw - 320px) / (360 - 320)));
    }
}
}