.our-offers{
    position: relative;
    padding-top: calc(64px + (148 - 64) * ((100vw - 360px) / (1280 - 360)));
    padding-bottom: calc(64px + (148 - 64) * (100vw - 360px) / (1280 - 360));
    .title{
        padding-bottom: calc(48px + (96 - 48) * (100vw - 360px) / (1280 - 360));
    }
    h1{
        @include standart-title;
        padding-bottom: 48px;
        @media(max-width: 1280px){
            font-size: calc(30px + (14 + 14 * 0.7) * (100vw - 360px) / 1280);
        }
        @media(max-width: 400px){
            padding-bottom: 36px;
        }
    }
    p{
        @include standart-style;
        max-width: 550px;
    }
    .offers-container__cards{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;    
    }
    article{
        max-width: 610px;
        border: 1px solid $text-color;
        padding: calc(36px + (85 - 36) * (100vw - 360px) / (1280 - 360));;
        h3{
            @include standart-style;
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 48px;
        }
        p{
            @include standart-style;
            max-width: 440px;
        }
        &:nth-child(even){
            border: none;
            background-color: #F4F4F4;
        }
    }
}