.safety{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: auto;
    width: auto;
    .safety__wrapper{
        padding-top: 160px;
        padding-bottom: 340px;
    }
    .safety__content{
        background-color: #FFFFFF;
        display: block;
        max-width: 800px;
        padding: 85px;
        h2{
            @include standart-title;
            font-size: 44px;
            font-weight: 700;
            padding-bottom: 48px;
        }
        span{
            display: block;
            max-width: 630px;
            text-align: left;
            @include standart-style;
        }
}
}